body {
  background-color: rgb(128, 128, 125);
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  flex-flow: row;
}

.strike {
  text-decoration: line-through;
}

.color {
  background-color: yellow;
}

.hide {
  display: none;
}

#list-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  height: auto;
  border: 3px solid dimgray;
  padding: 15px;
  grid-template-columns: 1fr;
}

#wrapper {
  padding: 10px 15px;
}

#todo-items {
  margin: 0;
  padding: 0;
  display: grid;
}

.enter-item {
  display: flex;
  justify-content: space-between;
  gap: 42%; 
}

.fa, .fas {
  margin-left: 60px;
}

#reset {
  text-align: center;
  cursor: pointer;
}

#checkbox {
  margin-right: 55px;
}
