body {
  background-color: rgb(83, 76, 81);
}

li { 
  padding: 1%;
  list-style: none;
}

li:nth-of-type(odd) {
  background-color: #51a86e;
  color: rgb(255, 253, 253);
}

#todo-items {
  background-color: rgb(106, 106, 109);
}

#list-container {
  margin: 0 auto;
  width: 50%;
  border: 2px solid blanchedalmond;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  /* text-align: center; */
}